
<div class="container">
<h1>New Employee</h1>

<%= form_tag employees_path do %>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <%= text_field_tag :name, nil,  class: 'form-control' %>
    
  </div>
  <div class="mb-3">
    <label for="position" class="form-label">Position</label>
    <%= text_field_tag :position, nil ,class: 'form-control' %>
  </div>

  <div class="mb-3">
    <label for="salary" class="form-label">Salary</label>
    <%= number_field_tag :salary, nil,  class: 'form-control' %>
  </div>

  <div class="mb-3">
    <label for="date_of_birth" class="form-label">Date of Birth</label>
    <%= date_field_tag :date_of_birth, nil, class: 'form-control' %>
  </div>

  <%= submit_tag "Submit", class: 'btn btn-primary' %>
<% end %>

  <%= link_to "Back", employees_path %>
</div>

<div>
</div>
