<div id="<%= dom_id blog %>">
  <tr>
    <th scope="row"><%= blog.id %></th>
    <td><%= blog.title %></td>
    <td><%= blog.body %></td>
    <td><%= blog.user.email %></td>
    
    <% if blog.user == current_user %>
      <td><a href="<%= edit_blog_path(blog)%>" class="card-link">Edit</a></td>
    <% end %>
      <td><a href="<%= blog_path(blog)%>" class="card-link">Show</a></td>
  </tr>
</div>